@import url('https://fonts.google.com/specimen/Titan+One?category=Display');

body{
    font-family: 'Titan-One', cursive;
    background-color: midnightblue;
}



#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 40px;
    }

.subtitulo{
    color: whitesmoke;
    font-size: 32px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-mokepon {
    
    width: 100px;
    height: 20px;
    text-align: center;
    padding: 10px;
    background: skyblue;
    border: outset;
    margin: 2px;
    border-radius: 20px;
}